{% include "./public/_header.html"  with {title:'项目详情',currentPage:3}%}
  <!-- 公用头部end -->
  <div class="index-main-wrap">
    <div class="xiangmu-wrap">
      <!-- <h1 class="xiangmu-title">四川省文化项目</h1> -->
      <div class="clearfix">
        <div class="xm-left lf">
          <div class="xm-line">
            <div class="xm-title"><p>{{project_title}}</p></div>
            <table class="xm-detail-wrap">
              <tr>
                <th colspan="2">项目基本信息</th>
              </tr>
              <tr>
                <td>项目介绍</td>
                <td>{{project_content}}</td>
              </tr>
              <tr>
                <td>项目图片</td>
                <td>{{project_thumb}}</td>
              </tr>
              <tr>
                <td>项目视频</td>
                <td>{{project_video}}</td>
              </tr>
              <tr>
                <td>盈利模式及经济效益预测</td>
                <td>{{project_profit}}</td>
              </tr>
              <tr>
                <td>实施地区</td>
                <td>{{project_implementation_area}}</td>
              </tr>
              <tr>
                <td>项目发布时间</td>
                <td>{{project_time}}</td>
              </tr>
              <tr>
                <td>实施城市</td>
                <td>{{project_implementation_city}}</td>
              </tr>
              <tr>
                <td>所属行业</td>
                <td>{{project_industry_name}}</td>
              </tr>
              <tr>
                <td>项目阶段</td>
                <td>{{project_stage}}</td>
              </tr>
              <tr>
                <td>合作方式</td>
                <td>{{project_cooperation}}</td>
              </tr>
              <tr>
                <td>资金用途</td>
                <td>{{project_funds}}</td>
              </tr>
              <tr>
                <td>接受资本类型</td>
                <td>{{project_funds_type}}</td>
              </tr>
              <tr>
                <td>投资总额</td>
                <td>{{project_funds_all}}</td>
              </tr>
              <tr>
                <td>尚缺资金</td>
                <td>{{project_funds_shortage}}</td>
              </tr>
              <tr>
                <td>是否接受委托融资</td>
                {% if project_funds_accept == 1 %}
                <td>是</td>
                {% elseif project_funds_accept === 2 %}
                <td>否</td>
                {% endif  %}
              </tr>
              <tr>
                <td>单位/个人名称</td>
                <td>{{project_company}}</td>
              </tr>
              <tr>
                <td>法定代表人</td>
                <td>{{project_representative}}</td>
              </tr>
              <tr>
                <td>负责人</td>
                <td>{{project_leader}}</td>
              </tr>
              <tr>
                <td>网址</td>
                <td>{{project_url}}</td>
              </tr>
              <tr>
                <td>联系电话</td>
                <td>{{project_tel}}</td>
              </tr>
              <tr>
                <td>E-mail</td>
                <td>{{project_email}}</td>
              </tr>
              <tr>
                <td>邮编</td>
                <td>{{project_zipcode}}</td>
              </tr>
              <tr>
                <td>传真</td>
                <td>{{project_fax}}</td>
              </tr>
              <tr>
                <td>通讯地址</td>
                <td>{{project_address}}</td>
              </tr>
              <tr>
                <td>单位简介</td>
                <td>{{project_company_desc}}</td>
              </tr>
              <tr>
                <td>备注</td>
                <td>{{project_mark}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="xm-right rt">
          <div class="xm-rt-tit">最受关注项目</div>
          <div class="popular-most-wrap">
            <ul>
              {% for item in hot_project%}
              <li><a href="/project-detail?project_id={{item.project_id}}" title="{{item.project_title}}">{{item.project_title}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="xm-rt-tit">最新发布项目</div>
          <div class="popular-most-wrap">
            <ul>
              {% for item in new_project%}
              <li><a href="/project-detail?project_id={{item.project_id}}" title="{{item.project_title}}">{{item.project_title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include "./public/_footer.html" %}
