  <div class="zqy-footer">
    <p>
      主办单位：四川文博文化创意产业研究中心&人民日报数字四川&nbsp;&nbsp;技术支持：四川大榕树数据技术有限公司<br>
      版权信息&nbsp;&nbsp;备案号&nbsp;&nbsp;<a href="/about" style="text-decoration: underline;">关于我们</a>
    </p>
  </div>

  <script src="user/js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="user/src/layui.js" type="text/javascript"></script>
  <script type="text/javascript" src="user/js/yao.js" type="text/javascript"></script>
  <script src="user/js/php-main.js" type="text/javascript"></script>
  <!-- 百度统计 -->
  <script type="text/javascript">
      var _hmt = _hmt || [];
      (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?59c232dca7ef734fac5b99c00c90766a";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
      })();
  </script>
  </body>
</html>
